* {
    box-sizing: border-box;
}

:root {
    /* constraint:
       var(--body-inner-min-width)
       == var(--body-outer-min-width - 2 * var(--body-pad))
       == (@media(min-width) - 2 * var(--body-pad-upper-bound))
       == var(--colspage-smaller-width) + var(--colspage-larger-width) */
    
    --body-pad-upper-bound: 20px; /* see contraint */
    --body-pad: min(0.5rem, var(--body-pad-upper-bound));
    --nav-pad: 0.5rem;
    --article-pad: 1rem;
    --nav-accent-thickness: 0.25rem;
    --nav-accent-pad: calc(var(--nav-pad) - var(--nav-accent-thickness));
    --nav-menu-pad: calc(3rem - var(--nav-accent-thickness));
}

/* Wide/horizontal */
@media (640px <= width) {
    :root {
        font-size: 16px;
        --body-outer-min-width: 640px;
        --body-inner-min-width: calc(var(--body-outer-min-width) - 2 * var(--body-pad));
        --body-inner-max-width: 800px;
        --body-outer-max-width: calc(var(--body-inner-max-width) + 2 * var(--body-pad));
        --nav-toplevel-font-size: 1rem;
        --nav-tab-unselected-display: initial;
        --colspage-vertical: 0;
        --colspage-larger-width: 57.5%;
        --colspage-smaller-width: calc(100% - var(--colspage-larger-width));
        --page-pad: calc(2 * var(--body-pad));
        --article-body-pad: var(--article-pad);
        --footer-toplevel-font-size: 0.8rem;
    }
    .vertical-only { display: none !important; }
}

/* Narrow/vertical */
@media (width < 640px) {
    :root {
        font-size: 18px;
        --body-outer-min-width: 320px;
        --body-outer-max-width: 640px;
        --body-inner-min-width: calc(var(--body-outer-min-width) - 2 * var(--body-pad));
        --body-inner-max-width: calc(var(--body-outer-max-width) - 2 * var(--body-pad));
        --nav-toplevel-font-size: 1.1rem;
        --nav-tab-unselected-display: none;
        --colspage-vertical: 1;
        --colspage-smaller-width: 100%;
        --colspage-larger-width: 100%;
        --page-pad: var(--body-pad);
        --footer-toplevel-font-size: 0.9rem;
    }
    .horizontal-only { display: none !important; }
    @media(480px < width) {
        :root {
            --article-body-pad: var(--article-pad);
        }
    }
    @media (width <= 480px) {
        :root {
            --article-body-pad: 0;
        }
    }
}


/* Colors
   https://webaim.org/resources/contrastchecker/ */
:root {
    --color-faint-gray: #e8e8e8;
    --color-faint-blue: #def;
    --color-light-blue: #bcf;
    --color-dark-blue: #348;
    --color-dull-blue: #283870
}
@media (prefers-color-scheme: light) {
    :root {
        --body-background-color: #222;
        --body-text-color: #fff;
        --body-link-text-color: var(--color-light-blue);
        --nav-select-background-color: #333;
        --page-background-color: #fff;
        --page-highlight-background-color: #e8e8e8;
        --page-text-color: #000;
        --deemphasized-text-color: #666;
        --page-text-faint-color: #ccc;
        --page-link-text-color: var(--color-dark-blue);
        --button-background-color: var(--color-faint-blue);
        --button-text-color: var(--color-dark-blue);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #000;
        --body-text-color: var(--color-faint-gray);
        --body-link-text-color: var(--color-light-blue);
        --nav-select-background-color: #181818;
        --page-background-color: #282828;
        --page-highlight-background-color: #3c3c3c;
        --page-text-color: var(--color-faint-gray);
        --deemphasized-text-color: #aaa;
        --page-text-faint-color: #666;
        --page-link-text-color: var(--color-light-blue);
        --button-background-color: var(--color-dull-blue);
        --button-text-color: #fff;
    }
}


/** General *******************************************************************/

body {
    padding: 0 var(--body-pad);
    min-width: calc(var(--body-inner-min-width) + 2 * var(--body-pad));
    max-width: calc(var(--body-inner-max-width) + 2 * var(--body-pad));
    margin: 0 auto;
    line-height: 1.5;
    background: var(--body-background-color);
    color: var(--body-text-color);
    font-family: sans-serif, system-ui, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5lh 0 0.25lh 0;
    a {
        text-decoration: none;
        &:active,
        &:hover {
            text-decoration: underline;
        }
    }
    a.heading-ref {
        margin-left: 0.5ex;
        padding: 0 0.5ex;
        border-radius: 0.5ex;
        
        &:any-link {
            color: var(--page-text-faint-color);
        }
        &:hover {
            color: var(--button-text-color);
            background: var(--button-background-color);
            text-decoration: none;
        }
    }
}

p,
ul,
ol,
dl,
li {
    margin: 0.4lh 0;
}

hr {
    border: none;
    margin: 1lh 0.4lh;
    padding: 0;
    height: 1px;
    background: var(--page-text-faint-color);
}

a {
    color: var(--body-link-text-color);
}

/** Utility *******************************************************************/

.hide {
    display: none;
}
.clear {
    clear: both;
}
.wide-inline {
    display: inline-block;
    margin-right: 1em;
}
.nowrap,
.email {
    display: inline-block;
}
.nomargin {
    margin: 0;
}

.left {
    float: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.has-action {
    cursor: pointer;
}

.deemphasize {
    color: var(--deemphasized-text-color);
}
.bold {
    font-weight: bold;
}
.text-normal {
    font-weight: normal;
}

/** Top Level *****************************************************************/

nav.toplevel {
    margin: 0;
    font-size: var(--nav-toplevel-font-size);
    line-height: 1.25;

    .nav-root,
    .nav-section {
        display: block;
        padding: var(--nav-pad) var(--page-pad);
        color: var(--body-link-text-color);
        text-decoration: none;
        font-weight: bold;
    }
    .nav-root {
        font-weight: normal;
    }
    a.nav-tab {
        &.selected {
            color: var(--body-text-color);
        }
        &.selected,
        &:hover,
        &:active {
            padding-top: var(--nav-accent-pad);
            border-top: var(--nav-accent-thickness) solid;
        }
        &.nav-root:hover,
        &.nav-root:active,
        &.nav-section:hover,
        &.nav-section:active {
            color: var(--body-link-text-color);
        }

        &.nav-section:not(.selected) {
            display: var(--nav-tab-unselected-display);
        }
    }

    details {
        background: inherit;
        padding: 0;
        border: none;
        margin: 0;
        summary {
            list-style: none;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            &::after {
                content: "☰";
                display: block;
                padding: 0 var(--page-pad);
                width: 100%;
                text-align: right;
                cursor: pointer;
                color: var(--body-link-text-color);
                text-decoration: none;
                font-weight: bold;
                font-size: 1.4em;
            }
        }
        .menu {
            width: 100%;
            .menu-item {
                background: var(--nav-select-background-color);
                border-left: var(--nav-accent-thickness) solid var(--nav-select-background-color);
                border-right: var(--nav-accent-thickness) solid var(--nav-select-background-color);
                padding-left: var(--nav-menu-pad);
                padding-right: var(--nav-menu-pad);
                display: block;
                margin-bottom: var(--nav-pad);
                font-weight: bold;
                &::before {
                    padding-right: 0.25em;
                    /* content: "⏵"; */
                    content: "↦";
                }
                &.selected {
                    border-left-color: var(--body-text-color);
                    color: var(--body-text-color);
                }
                &:hover,
                &:active {
                    background: var(--body-link-text-color);
                    border-color: var(--body-link-text-color);
                    color: var(--body-background-color);
                }
            }
        }
        &[open] {
            margin-bottom: var(--body-pad);
            summary .nav-tab.nav-section {
                opacity: 50%;
            }
        }
    }
}

main.toplevel {
    &:first-child { margin-top: var(--body-pad); }
    color: var(--page-text-color);
    text-align: left;
    clear: both;
}

footer.toplevel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: 1.2;
    font-size: var(--footer-toplevel-font-size);
    padding-top: var(--body-pad);
    & > * {
        margin: 0 var(--page-pad) var(--body-pad) var(--page-pad);
    }
}


/** Layouts *******************************************************************/

.fullpage,
.colspage-smaller,
.colspage-larger,
.textpage {
    background: var(--page-background-color);
    a {
        color: var(--page-link-text-color);
    }
}

.fullpage,
.colspage {
    margin: var(--body-pad) 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.colspage {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    .colspage-smaller {
        width: var(--colspage-smaller-width);
        flex: none;
    }
    .colspage-larger {
        width: var(--colspage-larger-width);
        flex: none;
    }
    &:not(.titlecard) > *:not(:last-child) {
        margin-bottom: calc(var(--colspage-vertical) * var(--body-pad));
    }
}

.textpage {
    padding: var(--page-pad);
    
    > h1:first-child,
    > h2:first-child,
    > p:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

/* "The new clearfix hack": https://www.w3schools.com/css/css_float.asp */
.clearfix,
.textpage::after {
    content: "";
    clear: both;
    display: table;
}


img.banner {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

header.titlecard {
    h1, h2 {
        margin-bottom: 0;
    }
    .position {
        margin-top: 0.2em;
    }
    .contact {
        margin-top: 0.5em;
        font-size: 0.9em;
    }
}

header.section-header,
header.article-header {
    h1,
    h2 {
        font-weight: bold;
        margin: 0;
    }
}

header.article-header {
    .article-desc {
        padding: 0 var(--article-pad);
        font-style: italic;
        &::before {
            content: "↦ ";
        }
    }
    .article-meta {
        margin: var(--body-pad) var(--article-pad);
        > *:not(:last-child) {
            margin-right: var(--article-pad);
        }
    }
        
    .article-date {
        font-weight: bold;
        &::before {
            content: "🗓️ ";
        }
    }
}

.article-body {
    margin-top: var(--article-pad);
    padding: 0 var(--article-body-pad);
}

a.topic,
a.tag {
    padding: 2px var(--body-pad);
    border: 1px solid var(--page-background-color);
    border-radius: var(--body-pad);
    text-decoration: none;
    &:hover,
    &:active {
        color: var(--button-text-color);
        background: var(--button-background-color);
    }
}

a.topic::before {
    content: "📍️ ";
}
a.tag::before {
    content: "🏷️ ";
}


a.button,
.button-bar a {
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid var(--button-background-color);
    
    text-decoration: none;
    background: var(--button-background-color);
    color: var(--button-text-color);
    &.selected,
    &:hover,
    &:active {
        border-color: var(--button-text-color);
    }
}

.button-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    a {
        margin: 0.5em 0.25em;
    }
}


details.toc {
    margin: var(--article-pad) 0;
    padding: var(--body-pad) var(--article-pad);
    background: var(--page-highlight-background-color);
    summary {
        font-size: 1.1rem;
        cursor: pointer;
    }
}
