:root {
    --color-course-cs111: #ed0;
    --color-course-cs230: #b33;
    --color-course-cs240-dark: #d70;
    --color-course-cs240: #ffab00;
    --color-course-cs251: #428;
    --color-course-cs301: #27e;
    --color-course-cs341: #383;
    --color-course-src: var(--color-body-text-color);
}

dl.course-list {
    padding-top: none;
    margin-top: none;

    dt {
        font-weight: bold;
        display: flex;
        .course-icon {
            display: block;
            flex: none;
            margin-right: 0.5em;
            img {
                aspect-ratio: 1 / 1 auto;
            }
        }
        .course-title {
            display: block;
            flex: 1 1 auto;
        }
    }

    dd {
        margin: 0 0 0.8em 2em;
    }
}

.course-icon {
    width: 1lh;
    height: 1lh;
    border-radius: 0.2em;
    border: 0.2em solid var(--page-background-color);
    * {
        display: block;
        width: 100%;
        height: 100%;
    }
    .course-sym {
        text-align: center;
        line-height: 1.0;
        font-weight: bold;
    }

    &.cs111 {
        background-color: var(--color-course-cs111);
        border-color: var(--color-course-cs111);
    }

    &.cs230 {
        background-color: var(--color-course-cs230);
        border-color: var(--color-course-cs230);
    }

    &.cs240 {
        background-color: var(--color-course-cs240);
        border-color: var(--color-course-cs240);
    }

    &.cs251 {
        background-color: var(--color-course-cs251);
        border-color: var(--color-course-cs251);
    }

    &.cs301 {
        background-color: var(--color-course-cs301);
        border-color: var(--color-course-cs301);
    }

    &.cs341 {
        background-color: var(--color-course-cs341);
        border-color: var(--color-course-cs341);
    }
}
